
$font: helvetica, arial, sans-serif;
$black: rgba(30,30,30,1);
//
$douce: cubic-bezier(.5,.5,.5,1);
$bounce-in: cubic-bezier(0,0,0,1.2);
//
.contactName-move{
	left: 0!important;
}
.footer-move{
	bottom: 0!important;
	box-shadow: -1px -1px 5px rgba(0,0,0,0.2);
}
.plusClose-move{
	font-size: 5rem!important;
	transform: rotate(45deg);
}
//
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
//
@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
//
@keyframes showDescription {
	0% { transform: translate(-50%, -50%) rotateY(-180deg) scale(0); }
	100% { transform: translate(-50%, -50%) rotateY(0deg) scale(1); }
}
@keyframes hideDescription {
	0% { transform: translate(-50%, -50%) rotateY(0deg) scale(1); }
	100% { transform: translate(-50%, -50%) rotateY(-180deg) scale(0); }
}
@-webkit-keyframes showDescription {
	0% { -webkit-transform: translate(-50%, -50%) rotateY(-180deg) scale(0); }
	100% { -webkit-transform: translate(-50%, -50%) rotateY(0deg) scale(1); }
}
@-webkit-keyframes hideDescription {
	0% { -webkit-transform: translate(-50%, -50%) rotateY(0deg) scale(1); }
	100% { -webkit-transform: translate(-50%, -50%) rotateY(-180deg) scale(0); }
}
//
@keyframes planeFloat {
	0% { transform: translate(-50%, -50%) rotate3d(1, 0, 0, 0deg); }
	50% { transform: translate(-60%, 20%) rotate3d(1, 1, 0, -12deg) scale(0.96);  }
	100% { transform: translate(-50%, -50%) rotate3d(1, 0, 0, 0deg); }
}
.move-plane{
	animation: planeFloat 7.5s both infinite ease;
}
//
@keyframes linePan01 {
	0% { transform: translate(50%, 0%); }
	100% { transform: translate(-100%, 0%); }
}
@keyframes linePan02 {
	0% { transform: translate(50%, 20%); }
	100% { transform: translate(-100%, 20%); }
}
.move-lines01{
	animation: linePan01 5s infinite linear;
}
.move-lines02{
	animation: linePan02 5s 2.5s infinite linear;
}
.move-clouds01{
	animation: linePan01 15s 4.5s infinite linear;
}
.move-clouds02{
	animation: linePan01 15s 8.5s infinite linear;
}
//MASTHEAD ANIMATIONS 
.hide-mastheadTitle-01{
	transform: rotate3d(1, 0, 0, 83deg)!important;
	// opacity: 0!important;
	color: #666;
	transition: all 0.4s ease!important;
}
.show-mastheadTitle-02{
	transform: rotate3d(1, 0, 0, 0deg)!important;
	// opacity: 1!important;
	color: $black;
	transition: all 0.4s ease!important;
}
.show-opacity{
	opacity: 1!important;
}
.show-opacity-descr-copy{
	opacity: 1!important;
	transition: opacity .4s $douce;
}

.hide-opacity{
	opacity: 0!important;
}
.display-none{
	display: none!important;
}
.display-it{
	display: block!important;
}
//
.show-description{
	animation: showDescription 1s .25s both $douce!important;
}
.hide-description{
	animation: hideDescription 1s .5s both $douce!important;
}
//
.show-desc-display{
	z-index: 50000!important;
}
//
.show-desc-opacity{
	opacity: 1!important;
}
.hide-desc-opacity{
	animation: fadeOut .5s .5s both $douce;
}
.move-desc-close{
	right: -3%!important;
}
//
.arrowCircle-transform{
	fill: rgba(100,100,100,1);
}
@keyframes scaleCircle {
	0% { transform: scale(1) }
	// 25% { transform: scale(0.25) }
	50% { transform: scale(0.9) }
	// 75% { transform: scale(0.5) }
	100% { transform: scale(1) }
}
//
.initialFooterPos {
	bottom: -560px!important;
}
.arrowShift{
	margin-left: 180px!important;
}
//ANIMATOR CHANGES
.shrink-animator{
	transform: scale(.1)!important;
}
.blur{
	animation: blur .5s;
}
@keyframes blur {
  0% { -webkit-filter: blur(0px); }
  50% { -webkit-filter: blur(5px); }
  100% { -webkit-filter: blur(0px); }
}
//14 YEAR ICON FLIP
.flipYears{
	transform: rotateY(180deg)!important;
}