// _mq.scss
@media screen and (min-width: 1400px) {
	//
	.projects{
		//
		.project{
			//
			width: 25%;
		}
	}
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 1400px) {
	//
	.projects{
		//
		.project{
			//
			width: 33.333%;
		}
	}
}

//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 1200px) {
	section, header, footer{
		//
		padding: 0 30px;
	}
	//
	.projects{
		//
		.projectWrapper{
			//
			width: 33.333%;
		}
	}
	//
	footer{
		.contactTitle{
			.contactName{
				left: 85%;
			}
		}
	}
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 1024px) {
	//
	.masthead{
		//
		padding-top: 10vh;
	}
	//
	.about{
		//
		p {
			//
		    font-size: 2rem;
		}
	}
	//
	.projectModalContainer{
		//

		.projectModal{
			//
			h2{
				//
				font-size: 3rem;
			}
			.arrows{
				//
				width: 40px;
				height: 40px;
			}
			.next{
				right: 3%;
			}
			.prev{
				left: 3%;
			}
			//
			.image{
				//
				width: 55%;
				.thumbnails{
					//
				    margin-top: 15px;
			        padding-top: 20px;
					.thumbnail{
						//
						height: 65px;
					}
				}
			}
			.copy{
				//
				margin: 0;
				.projectDescription{
					//
					font-size: 1.5rem;
					// padding: 20px;
				 //    padding-bottom: 25px;
				}
				.projectSkills{
					//
					margin-top: 0;
					font-size: 1.4rem;
				}

				.links{
					//

						.projectLink {
							//
							a{
								font-size: 1.25rem;
								padding: 12px 5px;
							}

						}
						.pdfLink {
							//
							a{
								font-size: 1.25rem;
								padding: 12px 5px;
							}

						}
					}
				}
			}
		}
	//
	.projects{
		//
		.projectWrapper{
			//
			width: 50%;
		}
	}
	//
	footer{
		.contactTitle{
			.contactName{
				//
				left: 84%;
			}
		}
		.theInfo{
			//
			.theContacts{
				//
				width: 36%;
				p{
					font-size: 3rem;
				}
			}
			.theForm{
				//
				width: 50%;
				margin-left: 5%;
			}
			.theAnimation {
				//
				display: none;
			}
		}
	}
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 950px) {
	//
	.about{
		//
		p{
			//
			font-size: 2.5rem;
		}
		.infographics{
			//
			.info01{
				width: 33%;
				.iconHolder{
					float: none;
					width: 60%;
					height: 185px;
				}
				.info{
					float: none;
					width: 100%;
				}
			}
			//
			.info02{
				width: 33%;
				.iconHolder{
					float: none;
					width: 60%;
					height: 185px;
				}
				.info{
					float: none;
					width: 100%;
				}
			}
			//
			.info03{
				width: 30%;
				.iconHolder{
					float: none;
					width: 60%;
					height: 185px;
				}
				.info{
					float: none;
					width: 80%;
				}
			}
		}
	}
	//
	.projectModalContainer{
		//

		.projectModal{
			//
			h2{
				//
				font-size: 3rem;
			}
			.arrows{
				//
				width: 40px;
				height: 40px;
			}
			.next{
				right: 3%;
			}
			.prev{
				left: 3%;
			}
			//
			.image{
				//
				width: 55%;
				.thumbnails{
					//
				    margin-top: 15px;
			        padding-top: 20px;
					.thumbnail{
						//
						height: 65px;
					}
				}
			}
			.copy{
				//
				margin: 0;
				.projectDescription{
					//
					font-size: 1.4rem;
				}
				.projectSkills{
					//
					font-size: 1.5rem;
				}

				.links{
					//

						.projectLink {
							//
							float: none;
							width: 100%;
							a{
								padding: 10px;
							}

						}
						.pdfLink {
							//
							float: none;
							width: 100%;
							margin-top: 10px;
							a{
								padding: 10px;
							}

						}
					}
				}
			}
		}
	//
	footer{
		.contactTitle{
			.contactName{
				//
				left: 83%;
			}
		}
	}
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 900px) {
	footer{
		.contactTitle{
			.contactName{
				//
				left: 82%;
			}
		}
	}
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 850px) {
	//
	.about{
		//
		p {
			//
		    font-size: 1.85rem!important;
		}
		.infographics{
					//
					.info01{
						.iconHolder{
							height: 150px;
						}
						.info{
						}
					}
					//
					.info02{
						.iconHolder{
							height: 150px;
						}
						.info{
						}
					}
					//
					.info03{
						.iconHolder{
							height: 150px;
						}
						.info{
						}
					}
				}
			}
	//
	footer{
		.contactTitle{
			.contactName{
				//
				left: 80%;
			}
		}
		.theInfo{
			//
			.theContacts{
			//
			p{
				font-size: 2.5rem;

			}
		}
	}
}
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 768px) {
	//
	.masthead{
		//
		padding-top: 17vh;
		.arrowIndicator{
			//
			width: 40px;
			height: 40px;
			padding-top: 0;
			margin-left: 100px;
		}
		.masthead-title {
			//
		    font-size: 6rem;
		    padding: 0;
		    .heyrossContainer{
		    	//
		    	.heyross1, .heyross2{
		    		//
			    	.charWrapper{
			    		//
			    		.char{
			    			//
			    			width: 37px;
			    		}
			    	}
		    	}
		    	.heyross1{
		    		//
		    		.charWrapper{
		    			//
		    			perspective: 270px;
		    			.char{
		    				//
		    			}
		    		}
		    	}
		    	.heyross2{
		    		//
		    		.charWrapper{
		    			//
		    			perspective: 290px;
		    			.char{
		    				//
		    			}
		    		}
		    	}
		    }
		}
		//
		.designer{
			//
			margin-top: 0;
			.designerHolder{
				width: 260px;
				height: 66px;
			}

		}
		.animator{
			//
			margin-top: 4px;
			.aniHolder{
				//
				 .charWrapper{
				 	//
					 .char {
					 	//
						width: 37px;
					 }
				 }
			}
		} 
		.developer{
			//
			padding: 10px 0;
			.devIcons{
				//
				.devIcon{
					//
					width: 27px;
					height: 24px;
				}
			} 
		} 
	}
	//

	.kerning-i{
		width: 20px!important;
	}
	.kerning-e{
		width: 34px!important;
	}
	.kerning-r{
		width: 24px!important;
	}
	.kerning-s{
		width: 33px!important;
	}
	.kerning-o{
		width: 37px!important;
	}
	.kerning-t{
		width: 20px!important;
	}
	.kerning-y{
		width: 33px!important;
	}
	.kerning-y{
		width: 32px!important;
	}
	.kerning-m{
		width: 50px!important;
	}
	//
	.arrowShift{
		margin-left: 100px!important;
	}

	//
	.about{
		//
		p {
			//
		    font-size: 1.7rem!important;
		}
	}
	//
	.projects{
		//
		padding-bottom: 0;
		.projectWrapper{
			.project{
				//
				h2{
					//
					transform: translate(0);
					color: white;
					font-size: 2.5rem;
					padding: 15px;
				}
			}
			.mobileInfo{
				display: none;
			}
		}
	}
	//
	footer {
		//
		
		position: static;
		.contactTitle{
			//
			padding-top: 20px;
			.contactName{
				//
				position: static;

			}
			.plusClose {
				//
				display: none;
			}
		}
	}
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 665px) {
	//
	.masthead{
		//
		padding-top: 20vh;
		.arrowIndicator{
			//
			width: 50px;
			height: 50px;
			padding-top: 0;
			margin-left: 90px;
		}
		.masthead-title {
			//
		    font-size: 5rem;
		    padding: 0;
		    .heyrossContainer{
		    	//
		    	.heyross1, .heyross2{
		    		//
			    	.charWrapper{
			    		//
			    		.char{
			    			//
			    			width: 30px;
			    		}
			    	}
		    	}
		    	.heyross1{
		    		//
		    		.charWrapper{
		    			//
		    			perspective: 225px;
		    			.char{
		    				//
		    			}
		    		}
		    	}
		    	.heyross2{
		    		//
		    		.charWrapper{
		    			//
		    			perspective: 270px;
		    			.char{
		    				//
		    			}
		    		}
		    	}
		    }
		}
		//
		.designer{
			//
			margin-top: 0;
			.designerHolder{
				width: 220px;
				height: 56px;
			}

		}
		.animator{
			//
			margin-top: 4px;
			.aniHolder{
				//
				 .charWrapper{
				 	//
					 .char {
					 	//
						width: 30px;
					 }
				 }
			}
		} 
		.developer{
			//
			padding: 10px 0;
			height: 80px;
			.devIcons{
				//
				.devIcon{
					//
					width: 27px;
					height: 24px;
				}
			} 
		} 
	}
	//
	.kerning-i{
		width: 14px!important;
	}
	.kerning-e{
		width: 28px!important;
	}
	.kerning-r{
		width: 19px!important;
	}
	.kerning-s{
		width: 28px!important;
	}
	.kerning-o{
		width: 30px!important;
	}
	.kerning-t{
		width: 17px!important;
	}
	.kerning-y{
		width: 28px!important;
	}
	.kerning-m{
		width: 45px!important;
	}
	//
	.arrowShift{
		margin-left: 90px!important;
	}
	//
	.space{
		width: 10px;
	}
	//
	.about{
		padding-bottom: 100px;
		//
		.infographics{
			//
			.info01, .info02, .info03, {
				// float: none;
				width: 100%;
				margin-right: 0;
				display: block;
				margin-bottom: 120px;
				.iconHolder{
					//
					float: left;
					width:30%; 
				}
				.info{
					//
					float: left;
					width: 65%;
				}
			}
			//
			.info01 {
				.info{
					// 
					padding-top: 10px;
				}
			}
			.info02{
				margin-bottom: 85px;
			}
			//
			.info03{
				//
				.info{
					//
					// width: 50%;
				}
			}
			p {
				//
			    font-size: 2.5rem!important;
			}
		}
	}
	//
	.projectModalContainer{
		//
		display: none;
	}
	//
	.projects{
		//
		.projectWrapper{
			//
			width: 100%;
		}
	}
	//
	footer{
		//
		height: 740px;
		.contactTitle{
			//
			height: 80px;
			padding-top: 30px;
		}
		.theInfo{
			//
		    margin-top: 20px;
			.theContacts{
				//
				float: none;
				width: 100%;
				margin-bottom: 25px;
				p{
					font-size: 3rem;
				}
				.arrow{
					display: none;
				}
			}
			.theForm{
				//
				float: none;
				width: 100%;
				margin-left: 0;
			}
		}
	}
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 480px) {
	//
	.masthead{
		//
		padding-left: 30px;
		padding-top: 15vh;
		.arrowIndicator{
			//
			width: 50px;
			height: 50px;
			padding-top: 0;
			margin-left: 65px;
		}
		.masthead-title {
			//
		    font-size: 4rem;
		    padding: 0;
		    .heyrossContainer{
		    	//
		    	.heyross1, .heyross2{
		    		//
			    	.charWrapper{
			    		//
			    		.char{
			    			//
			    			width: 23px;
			    		}
			    	}
		    	}
		    	.heyross1{
		    		//
		    		.charWrapper{
		    			//
		    			perspective: 180px;
		    			.char{
		    				//
		    			}
		    		}
		    	}
		    	.heyross2{
		    		//
		    		.charWrapper{
		    			//
		    			perspective: 190px;
		    			.char{
		    				//
		    			}
		    		}
		    	}
		    }
		}
		//
		.designer{
			//
			margin-top: 0;
			.designerHolder{
				width: 170px;
				height: 43px;
			}

		}
		.animator{
			//
			margin-top: 4px;
			.aniHolder{
				//
				 .charWrapper{
				 	//
					 .char {
					 	//
						width: 23px;
					 }
				 }
			}
		} 
		.developer{
			//
			padding: 10px 0;
			height: 80px;
			.devIcons{
				//
				.devIcon{
					//
					width: 22px;
					height: 20px;
				}
			} 
		} 
	}
	//
	.kerning-i{
		width: 14px!important;
	}
	.kerning-e{
		width: 23px!important;
	}
	.kerning-r{
		width: 16px!important;
	}
	.kerning-s{
		width: 23px!important;
	}
	.kerning-o{
		width: 24px!important;
	}
	.kerning-t{
		width: 15px!important;
	}
	.kerning-y{
		width: 22px!important;
	}
	.kerning-m{
		width: 34px!important;
	}
	//
	.arrowShift{
		margin-left: 65px!important;
	}
	//
	.space{
		width: 10px;
	}
	//
	//
	section, header, footer{
		//
		padding: 0 10px;
	}
	//
	.about{
		//
		.infographics{
			//
			.info01{
				//
				.info{
					//
					padding-top: 0;
				}
			}
			.info03{
				//
				.info{
					//
					width: 50%;
				}
			}
			p {
				//
			    font-size: 2.5rem!important;
			}
		}
	}
	//
	header{
		//
		.nameIcon{
			//
			display: none;
		}
		//
		.nameCopy{
			margin-left: 4px!important;
		}
		//
		.social{
			//
			padding-top: 15px!important;
			.social_btns{
				//
				margin-left: 7.5px!important;
				.fa{
					//
					font-size: 3rem!important;
				}
			}
		}
	}
	//
	.projects{
		//
		.projectWrapper{
			//
			.project{
				// 
				height: 200px;
			}
			//
			.mobileInfo{
				padding: 40px;
				padding-bottom: 75px;
				h2{
					font-size: 2.5rem;
				}
				.mobileClose{
					font-size: 3.5rem;
					right: 25px;
					top: 30px;
				}
				//
				.pdfLink a{
					font-size: 1.1rem;
					padding: 12px 5px;
				}
				//
				.projectLink a{
					font-size: 1.1rem;
					padding: 12px 5px;
				}
				//
			}
		}
	}

	//
	footer{
		//
		height: 740px;
		.contactTitle{
			//
			height: 70px;
		}
		//
		.theInfo{
			//
			.theContacts{
				//
				p{
					font-size: 2.5rem;
				}
			}
		}
	}
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 320px) {
	
	.projects{
		//
		.projectWrapper{
			//
			.mobileInfo{
				padding: 25px;
				padding-bottom: 60px;
				h2{
					font-size: 2rem;
				}
				.mobileClose{
					font-size: 3rem;
					right: 20px;
					top: 25px;
				}
			}
		}
	}
	

}
/////////////////////////
/////////////////////////
/////////////////////////
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
	
	.masthead{
		//
		padding-top: 10vh;
	}
	//
	.projectModalContainer{
		//
		display: none;
	}
	//
	.projects{
		//
		.projectWrapper{
			//
			width: 100%;
			.project{
				height: auto;
				border-bottom: 1px solid gray;
			}
		}
	}


}
/////////////////////////
/////////////////////////
/////////////////////////
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 

	.masthead{
		//
		padding-top: 10vh;
	}
	//
	.projectModalContainer{
		//
		display: none;
	}
	//
	.projects{
		//
		.projectWrapper{
			//
			width: 100%;
			.project{
				height: auto;
				border-bottom: 1px solid gray;
			}
		}
	}

}